<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <h1>Hello</h1>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form action="/search">
        <input name="movieTitle">
        <input type="submit" value="Искать">

    </form>
    <form action="/" >
        <input type="submit" value="на главную">
    </form>
</div>

    <div th:each="movie : ${movies}">
        <!--<span th:text="${movie.id}"></span>-->
        <span th:text="${movie.title}" class="movieName"></span>
        <span th:text="${movie.date}"></span>
        <span th:text="${movie.author}"></span>
        <span th:text="${movie.genre}"></span>
        <a th:href="@{'/editMovie?id=' + ${movie.id}}"> <img src="edit.png"></a>
        <a th:href="@{'/deleteMovie?id=' + ${movie.id}}"> <img src="del.png"></a>
        <img src="info.png" class="info" title="Movie info" th:movieId="${movie.id}">


    </div>


    <div id="movieInfo">
        <div id="moviePoster"></div>
    </div>

<a href="/addMovie">Добавить</a>

<script>
    $('.info').click(function (e) {
        let movieTitle = $(e.target).parent().find('.movieName')[0].innerText; //[0].innerHTML
        console.log(movieTitle);
       $.ajax({
           url: "http://www.omdbapi.com/?apikey=468594f3&t=" + movieTitle,
           success: function (data){
               $('#moviePoster').empty();
               $('<img src="'+data.Poster+'">').appendTo($('#moviePoster'));
           }
       })
    })
</script>


</body>
</html>